var filters = {
	toFix: function (value) {
		return parseFloat(value).toFixed(2)//此处2为保留两位小数
	},
	ptf: function (price) {
		var num = parseInt(price)
		if (!isNaN(num)) {
			return parseFloat(num/100).toFixed(2)
		} else {
			return '0.00'
		}
	},
	humpPrice: function (value) {
		var arr = [],price = '';
		if (!isNaN(value)) {
			price =  parseFloat(value/100).toFixed(2)
		} else {
			price = '0.00'
		}
		arr = price.split('.')
		return arr
	},
	getTime: function (value){
		var reg = getRegExp('/-/')
		var timestamp = value.replace(reg, '/')
		timestamp = new Date(timestamp).getTime()
		// var nowTime = new Date().getTime()
		var disTime = nowTime - timestamp;
		if (disTime < 60 * 60 * 1000) {
			var time = Math.floor(disTime / 60 / 1000)
			time = time + '分钟前'
		} else if (disTime < 24 * 60 * 60 * 1000) {
			var time = Math.floor(disTime / 60 / 1000 / 60)
			time = time + '小时前'
		} else if (disTime < 2 * 24 * 60 * 60 * 1000) {
			var time = '昨天' + str.substring(11)
		} else {
			var time = str
		}
		return time
	},
	trim: function (value) {
		var reg = getRegExp('^\s*|\s*$/g')
		return value.replace(reg, '') //去除2端的空格
	},
	statu: function (statu) {
		var string = ''
		switch (statu){
			case 200: 
				string = '待付款'
				break
			case 205: 
				string = '待发货'
				break
			case 207: 
				string = '已取消'
				break
			case 255: 
				string = '待成团'
				break
			case 400: 
				string = '待收货'
				break
			case 405: 
				string = '已完成'
				break
			default:
		}
		return string
	},
	drawStatu: function (statu) {
		var string = ''
		switch (statu){
			case 1: 
				string = '审核中'
				break
			case 2: 
				string = '已审核'
				break
			case 3: 
				string = '打款成功'
				break
			case 4: 
				string = '打款失败'
				break
			default:
		}
		return string
	},
	imgUrl: function (value) {
		return 'https://image.51zan.com/' + value
	},
	salesCount: function (value) {
		var showCount = ''
		if (value >= 1000 && value < 10000) {
			showCount = Math.floor(value / 1000) + '千'
		} else if (value >= 10000) {
			showCount = Math.floor(value / 10000) + '万'
		} else {
			showCount = value
		}
		return showCount
	},
	couponType: function (goodsRelation, couponType) {
		var string = goodsRelation === 1 ? '全部商品可用' : '指定商品可用'
        return string + ' 满' + couponType.full_amount / 100 + '减' + couponType.reduce_amount / 100
	},
	couponDate: function (value) {
		var stampArr = value.split(" ")
		var stamp = stampArr[0].split("-").join(".")
		var lastArr = stampArr[1].split(":")
		return stamp + ' ' + lastArr[0] + ':' + lastArr[1]
	},
	compareDate: function (date) {
		var timestamp = getDate(date.replace(getRegExp('-', 'g'), '/'))
		if (timestamp < Date.now()) {
			return true
		} else {
			return false
		}
	}
}
module.exports = {
	toFix: filters.toFix,
	getTime: filters.getTime,
	trim:filters.trim,
	ptf: filters.ptf,
	statu: filters.statu,
	humpPrice: filters.humpPrice,
	drawStatu: filters.drawStatu,
	imgUrl: filters.imgUrl,
	salesCount: filters.salesCount,
	couponType: filters.couponType,
	couponDate: filters.couponDate,
	compareDate: filters.compareDate
}